@import "imports/inc";
@import "imports/_adm.css";

body, html {
    height: 100%;
    background: #f4f6f9;
}

.menu-open {
    .nav-treeview {
        display: block;
    }
}

.nav-sidebar {
    > .nav-item {
        height: 40px;
        overflow: hidden;

        @include fn-anim-transition-eio(0.3);

        .nav-treeview {
            display: block;
        }
    }
}

.main-footer {
    /*position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;*/
    color: #b7b5b5;
    text-align: center;
    font-size: 12px;
}

.sidebar-dark-primary {
    .nav-sidebar {
        > .nav-item {
            > .nav-treeview {
                background: #3b4046;
            }

            > .nav-link.active {
                background-color: #f05722;
            }
        }
    }
}

.container-full {
    .content-wrapper {
        margin-top: 15px;
        height: 100%;
    }

    .content-header, .main-footer {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

.small-box {
    .card-tools {
        position: absolute;
        right: 5px;
    }

    .card-tools, .inner p, .small-box-footer {
        @include fn-anim-transition-eio(0.3);
    }
}

.small-box-close {
    flex-basis: auto;
    flex-grow: 0;
    width: auto;

    @include fn-anim-transition-eio(0.3);

    .small-box {
        width: auto;
        height: 65px;
        overflow: hidden;

        @include fn-anim-transition-eio(0.3);

        .card-tools, .inner p, .small-box-footer {
            opacity: 0;
            height: 0;
            width: 0;
        }
    }
}

.dialog-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffffa6;
    z-index: 99999;

    .dialog-content {
        background: whitesmoke;
        position: relative;
        top: 10%;
        left: 50%;
        border-radius: 3px;
        border: 1px solid white;
        margin: 10px;
        display: table;

        @include fn-shadown(10, 10, 30, rgba(51, 51, 51, 0.7490196078431373));

        .dialog-title{
            padding: 10px;
            background: #efefef;
            border-bottom: 1px solid #dadada;
            font-size: 18px;
            position: relative;
            display: flow-root;

            .dialog-close{
                float: right;
                display: block;
                padding: 3px 10px;  
                color: #afb1b3;
                cursor: pointer;
            }
        }
    }
}


// loadding
.showbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
  }
  // end demo-specific
  
  .loader {
    position: relative;
    margin: 0 auto;
    width: $width;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  
  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  
  @keyframes color {
    100%,
    0% {
      stroke: $red;
    }
    40% {
      stroke: $blue;
    }
    66% {
      stroke: $green;
    }
    80%,
    90% {
      stroke: $yellow;
    }
  }